$margin: -5px;
$color: #FFFFFF;


%subject {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: 145%;
  padding: 18px 0;
	@media (max-width: 1024px) {
		font-size: 24px;
		padding: 16px 0;
	}
}

%title {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 900;
  line-height: 117%;
  padding: 20px 0;
  margin-bottom: 24px;
	@media (max-width: 1024px) {
		font-size: 24px;
		padding: 18px 0;
		margin-bottom: 20px;
	}
}

%separator {
  width: 170px;
  height: 4px;
  background-color: #F38281;
  margin: 0 auto;
	@media (max-width: 1024px) {
		width: 148px;
	}
	@media (max-width: 767px) {
		width: 134px;
	}
}

%subtitle {
	font-size: 18px;
	list-style: 117%;
	font-weight: 400;
	padding: 35px 0;
	@media (max-width: 1024px) {
		font-size: 14px;
		padding: 30px 0;
		margin: 0 16px;
	}
}


.work {

		// .work__promo

		&__promo {
      text-align: center;
      margin-top: 84px;
		}

		&__subject {
      @extend %subject;
		}

		&__title {
      @extend %title;
		}

		&__separator {
      @extend %separator;
		}

		&__subtitle {
      @extend %subtitle;
      max-width: 1170px;
      margin-left: 170px;
      @media (max-width: 1024px) {
        margin-left: 17px;
      }
		}

		// .work__box

		&__box {
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "work__cover1 work__cover2 work__cover3 work__cover4"
                           "work__cover5 work__cover6 work__cover3 work__cover7"
		}

    &__box {
      /*@media (max-width: 767px) {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
      }*/
      @media (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
      }
    }

		&__cover1 {
      grid-area: work__cover1;
		}

    &__cover2 {
      grid-area: work__cover2;
		}

    &__cover3 {
      grid-area: work__cover3;
    }

    &__cover4 {
      grid-area: work__cover4;
		}

    &__cover5 {
      margin-top: $margin;
      grid-area: work__cover5;
		}

    &__cover6 {
      margin-top: $margin;
      grid-area: work__cover6;
		}

    &__cover7 {
      margin-top: $margin;
      grid-area: work__cover7;
		}

    &__cover1 img {
      @media (max-width: 1024px) {
        height: 256px;
        width: 256px;
      }
      @media (max-width: 767px) {
        height: 159px;
        width: 152px;
      }
		}

    &__cover2 img {
      @media (max-width: 1024px) {
        height: 256px;
        width: 256px;
      }
      @media (max-width: 767px) {
        height: 159px;
        width: 152px;
      }
		}

    &__cover3 img {
      @media (max-width: 1024px) {
        height: 512px;
        width: 256px;
      }
      @media (max-width: 767px) {
        height: 159px;
        width: 152px;
      }
		}

    &__cover4 img {
      @media (max-width: 1024px) {
        height: 256px;
        width: 256px;
      }
      @media (max-width: 767px) {
        height: 159px;
        width: 152px;
      }
		}

    &__cover5 img {
      @media (max-width: 1024px) {
        height: 256px;
        width: 256px;
      }
      @media (max-width: 767px) {
        height: 159px;
        width: 152px;
      }
		}

    &__cover6 img {
      @media (max-width: 1024px) {
        height: 256px;
        width: 256px;
      }
      @media (max-width: 767px) {
        height: 159px;
        width: 152px;
      }
		}

    &__cover7 img {
      @media (max-width: 1024px) {
        height: 256px;
        width: 256px;
      }
      @media (max-width: 767px) {
        height: 159px;
        width: 304px;
      }
		}

		// .work__cover-six-photo

		&__cover-six-photo {
      width: 378px;
      height: 378px;
      background-image: linear-gradient(rgba(233, 130, 131, 0.9), rgba(237, 215, 137, 0.9));
      position: absolute;
      top: 378px;
      left: 377px;
      text-align: center;
      @media (max-width: 1024px) {
        height: 256px;
        width: 256px;
        position: absolute;
        top: 256px;
        left: 256px;
        @media (max-width: 767px) {
          display: none;
        }
      }
		}

		// .work__six-photo-icon

		&__six-photo-icon {
      margin: 122px 0 61px;
      @media (max-width: 1024px) {
        margin: 83px 0 41px;
      }
		}

		// .work__six-photo-title

		&__six-photo-title {
      font-size: 24px;
      font-weight: 700;
      color: $color;
      padding: 10px 0;
      @media (max-width: 1024px) {
        font-size: 18px;
      }
		}

		// .work__six-photo-subtitle

		&__six-photo-subtitle {
      color: $color;
      @media (max-width: 1024px) {
        font-size: 14px;
      }
		}
}
